@{
    ViewData["Title"] = "Xác thực email";
}

<div class="container py-4">
    <p>
        Bạn đã hoàn thành xác thực email. 
        Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
    </p>
</div>