@{
    ViewData["Title"] = "Register confirmation";
}
<div class="container py-4">
    <h4 class="text-primary">Thanks for register account at Molla</h4>
    <p>
        Please check your email to confirm your account.
    </p>
</div>

