@model Molla.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div style="background-image: url(/img/login-bg.jpg);">
    <div class="py-5 px-2 px-sm-0">
        <div class="mx-auto my-5 py-5 px-4 bg-white rounded mw-100" style="width: 575px">
            <form asp-route-returnUrl="" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" asp-for="Email">Email address</label>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>

            <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col">
                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>
                <hr>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Have an account? <a asp-controller="Account" asp-action="Login">Sign in for Molla</a></p>
                    <p>or sign up with:</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                    </button>

                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                    </button>

                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                    </button>

                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

